- site_css = host.match( /(kibana|graphite|fairhair-cockpit).meltwater.net/ ) ? host : 'main'
doctype html

html(lang="en")
  head
    meta(name="viewport", content="width = device-width")
    title= ["Doorman ", pageTitle].join(" | ")
    link(rel="stylesheet" href="/_doorman/css/#{site_css}.css")

  body
    #container
      #title
        #logo Doorman
      #main
        block content
        #small-logo
          img(src="/_doorman/images/we-speak-your-language-banner.jpg")
